<h1>Firme</h1>

<button mat-raised-button color="primary" (click)="dodajFirma();  openDialog(dialogFirma)">
  <mat-icon>add</mat-icon> Dodaj Firmu
</button>
<br>
<mat-form-field appearance="standard" id="filterStipenditor">
  <mat-label>Grad</mat-label>
  <mat-select [(ngModel)]="this.filter_gradovi">
    <mat-option *ngFor="let gradovi of this.gradoviPodaci" [value]="gradovi.id">
      {{gradovi.naziv}}
    </mat-option>
  </mat-select>
</mat-form-field>

<table  style="width:100%" mat-table [dataSource]="podaciFirme" class="mat-elevation-z8">

  <ng-container matColumnDef="naziv">
    <th mat-header-cell *matHeaderCellDef> Naziv </th>
    <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
  </ng-container>

  <ng-container matColumnDef="adresa">
    <th mat-header-cell *matHeaderCellDef>Adresa </th>
    <td mat-cell *matCellDef="let element"> {{element.adresa}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="telefon">
    <th mat-header-cell *matHeaderCellDef> Broj telefona </th>
    <td mat-cell *matCellDef="let element"> {{element.telefon}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="veza">
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let element"> {{element.veza}} </td>
  </ng-container>

  <ng-container matColumnDef="grad">
    <th mat-header-cell *matHeaderCellDef> Grad </th>
    <td mat-cell *matCellDef="let element"> {{element.grad}} </td>
  </ng-container>

  <ng-container matColumnDef="akcije">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button (click)="firma=element; openDialog(dialogFirma)" color="primary" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="obrisiFirma(element)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #dialogFirma >
  <h1>{{this.dialogtitle}}</h1>

  <mat-dialog-content >


    <mat-form-field appearance="fill" id="naziv">
      <mat-label>Naziv</mat-label>
      <input matInput [(ngModel)]="this.firma.naziv">
    </mat-form-field>


    <mat-form-field appearance="fill"  id="adresa">
      <mat-label>Adresa</mat-label>
      <input matInput  [(ngModel)]="this.firma.adresa" >

    </mat-form-field>
    <mat-form-field appearance="fill"  id="email">
      <mat-label>Email</mat-label>
      <input matInput  [(ngModel)]="this.firma.email" >

    </mat-form-field>
    <mat-form-field appearance="fill"  id="telefon">
      <mat-label>Telefon</mat-label>
      <input matInput  [(ngModel)]="this.firma.telefon">
    </mat-form-field>

    <mat-form-field appearance="fill"  id="veza">
      <mat-label>Link</mat-label>
      <input matInput  [(ngModel)]="this.firma.veza">
    </mat-form-field>

    <mat-form-field  id="grad">
      <mat-label>Grad</mat-label>
      <mat-select  [(ngModel)]="this.firma.gradID">
        <mat-option *ngFor="let grad of this.gradoviPodaci" [value]="grad.id">
          {{grad.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>




  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Odustani</button>
    <button mat-raised-button mat-dialog-close color="primary"  (click)="snimi_dugme()" >Snimi</button>
  </mat-dialog-actions>
</ng-template>
