<mat-drawer-container class="example-container">
  <mat-drawer style="width:300px;margin-top:10px;" mode="side" opened><h1> Prakse</h1>
    <mat-form-field appearance="standard" id="filterFirma">
      <mat-label>Firma</mat-label>
      <mat-select [(ngModel)]="this.filter_firme">
        <mat-option *ngFor="let firma of this.firmePodaci" [value]="firma.id">
          {{firma.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-checkbox color="accent" id="filterPlacena" [(ngModel)]="this.filter_placena">Plaćena</mat-checkbox>
    <br>
    <button mat-raised-button color="accent" (click)="this.restart()" style="margin-left: 5%">Ukloni filtere</button>
  </mat-drawer>
  <mat-drawer-content>
<mat-card  *ngFor="let i of this.getpodaci()" >
  <mat-card-header>
    <mat-card-title>{{i.naslov}}</mat-card-title>
    <mat-card-subtitle>{{i.opis}}</mat-card-subtitle>
  </mat-card-header>
  <img  src="{{i.slika}}" >
  <mat-card-actions>

    <button (click)="pregledDetalja(i)" mat-button >POGLEDAJ VIŠE</button>
    <button  mat-raised-button color="accent" (click)=" openDialog(dialogPrijavaPrakse); dodajPrijavu(i.id)">PRIJAVI SE</button>
  </mat-card-actions>

</mat-card>

    <mat-paginator
      [length]="praksePodaci?.totalCount"
      [pageSizeOptions]="[5,10, 20]"
      [showFirstLastButtons]="true"
      (page)="handlePageEvent($event)"
      aria-label="Select page">
    </mat-paginator>
</mat-drawer-content>
</mat-drawer-container>

<ng-template #dialogPrijavaPrakse >
  <h1 mat-dialog-title>Prijava na praksu</h1>
  <div mat-dialog-content>
    <div class="cv" *ngIf="cvURL && cvURL !== ''">
      <input hidden type="file" #file  (change)="chooseFileCV(file.files)"  >
      <button style="display:block; position: relative;left: 8px;" mat-raised-button color="primary" (click)="file.click()">
        Dodaj CV </button>  <p>{{this.imeFileCV}}</p>
    </div>

    <br>
    <div class="prosjekOcjena" *ngIf="propratnoPismo !== ''">
      <input hidden type="file" #file  (change)="chooseFilePismo(file.files)"  >
      <button style="display:block; position: relative;left: 8px;" mat-raised-button color="primary" (click)="file.click()">
        Dodaj propratno pismo</button></div>

    <p>{{imeFilePropratnoPismo}}</p>
    <br>
    <div class="dokumentacija" *ngIf=" certifikatiURL !== ''">
      <input hidden type="file" #file  (change)="chooseFileCert(file.files)"  >
      <button style="display:block; position: relative;left: 8px;" mat-raised-button color="primary" (click)="file.click()">
        Dodaj certifikate </button>
      <p>{{imeFileCertifikati}}</p>
      <br>
    </div >
  </div >
  <div mat-dialog-actions>
    <button  mat-raised-button mat-dialog-close  color="warn">Odustani</button>
    <button  mat-raised-button mat-dialog-close color="accent" (click)="snimiDugme()">Snimi</button>
  </div>
</ng-template>
