<p>home works!</p>

<h1>Prakse</h1>
<div class="container" #container>

  <div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
  <div class="cards" [ngClass]="{'w-100': totalPages === 1}">
    <div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
      <div class="card" *ngFor="let i of praksePodaci; let index = index" [ngStyle]="{'width': cardWidth}">
        <span>
        <h1>{{i.naslov}}</h1>

    <p>
     {{i.opis}}
    </p>
   <img src="{{i.slika}}">

    <button mat-button>Detalji</button>


        </span>
      </div>
    </div>
  </div>
  <div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
       [ngClass]="{'disabled':currentPage === totalPages}"></div>
</div>


<h1>Stipendije</h1>
<div class="container" #container>

  <div class="left2" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
  <div class="cards" [ngClass]="{'w-100': totalPages === 1}">
    <div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
      <div class="card" *ngFor="let i of stipendijePodaci; let index = index" [ngStyle]="{'width': cardWidth}">
        <span>
        <h1>{{i.naslov}}</h1>

    <p>
     {{i.opis}}
    </p>
   <img src="{{i.slika}}">

    <button mat-button>Detalji</button>


        </span>
      </div>
    </div>
  </div>
  <div class="right2" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
       [ngClass]="{'disabled':currentPage === totalPages}"></div>
</div>


