
  <h1 class="naslov">Prakse</h1>
  <button mat-fab color="primary" class="btnPrev" (click)="prevPagePrakse()" [disabled]="this.praksePageNumber==1">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div  class=kartice *ngFor="let praksa of this.praksePodaci?.dataItems;let i=index">
  <mat-card class="example-card"  *ngIf="i<3" >
  <mat-card-header *ngIf="i<3">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf="i<3">{{praksa.ime_uposlenika}}</mat-card-title>
    <mat-card-subtitle  *ngIf="i<3">{{praksa.naziv_firma}}</mat-card-subtitle>
  </mat-card-header >
  <img mat-card-image *ngIf="i<3" src="{{praksa.slika}}">
  <mat-card-content>
    <p *ngIf="i<3">
      {{praksa.opis}}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="i<3">
    <button mat-button (click)="praksaDetalji(praksa)">Detalji</button>
  </mat-card-actions>
</mat-card>

</div>
  <button mat-fab color="primary" class="btnNext" (click)="nextPagePrakse()" [disabled]="this.praksePageNumber==this.praksePodaci?.totalPages">
    <mat-icon>chevron_right</mat-icon>
  </button>
<button mat-button class="pogledaj-vise-button" routerLink="/putanja-prakse-pregled">POGLEDAJ VIŠE</button>


  <h1  class="naslov">Stipendije</h1>
  <button mat-fab color="primary" class="btnPrev" (click)="prevPageStipendije()" [disabled]="this.stipendijePageNumber==1">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div  class=kartice *ngFor="let stipendija of this.stipendijePodaci?.dataItems;let i=index">
    <mat-card class="example-card"  *ngIf="i<3" >
      <mat-card-header *ngIf="i<3">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title *ngIf="i<3">{{stipendija.ime_uposlenika}}</mat-card-title>
        <mat-card-subtitle  *ngIf="i<3">{{stipendija.naziv_stipenditora}}</mat-card-subtitle>
      </mat-card-header >
      <img mat-card-image *ngIf="i<3" src="{{stipendija.slika}}">
      <mat-card-content>
        <p *ngIf="i<3">
          {{stipendija.opis}}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="i<3">
        <button mat-button (click)="stipendijaDetlaji(stipendija)">Detalji</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button mat-fab color="primary" class="btnNext" (click)="nextPageStipendije()" [disabled]="this.stipendijePageNumber==this.stipendijePodaci?.totalPages">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button mat-button class="pogledaj-vise-button" routerLink="/putanja-stipendije-pregled">POGLEDAJ VIŠE</button>

  <h1  class="naslov">Smještaj</h1>
  <button mat-fab color="primary" class="btnPrev" (click)="prevPageSmjestaji()" [disabled]="this.smjestajiPageNumber==1">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div  class=kartice *ngFor="let s of this.smjestajiPodaci?.dataItems;let i=index">
    <mat-card class="example-card"  *ngIf="i<3" >
      <mat-card-header *ngIf="i<3">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title *ngIf="i<3">{{s.izdavac}}</mat-card-title>
        <mat-card-subtitle  *ngIf="i<3">{{s.naslov}}</mat-card-subtitle>
      </mat-card-header >
      <img mat-card-image *ngIf="i<3" src="{{s.slika}}">
      <mat-card-content>
        <p *ngIf="i<3">
          {{s.opis}}
          {{s.cijena}}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="i<3">
        <button mat-button (click)="smjestajDetlaji(s)">Detalji</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <button mat-fab color="primary" class="btnNext"  (click)="nextPageSmjestaji()" [disabled]="this.smjestajiPageNumber==this.smjestajiPodaci?.totalPages">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button mat-button class="pogledaj-vise-button" routerLink="/putanja-smjestaj-pregled">POGLEDAJ VIŠE</button>
