#prikaz{
  width: 80%;
  margin: auto;
  padding: 20px;
}
.mat-form-field{
  font-size: 14px;
  width: 100%;
}
table{
  width: 100%;
}
th.mat-header-cell, td{
  text-align: center;
}
#naslov,#rokPrijave{
  width: 45%;
  margin-left: 5%;
}
#brojSoba, #kapacitet, #grad, #parking{
  width: 14%;
  margin-left: 1.5%;
}
#cijena, #izdavac{
  width: 14%;
  margin-left: 5%;
}
#opis{
  height: 100px;
}
#filterGrad{
  width: 30%;
}
#usluge{
  width: 60%;
  height: 50px;
}
#filterIzdavac{
  width: 30%;
  margin-left: 1%;
}
#nacinGrijanja{
  width: 35%;
  margin-left: 5%;
}
.slika{
  width:50%;
  max-height: 265px;
  float: left;
}


