#prikaz{
  width: 80%;
  margin: auto;
  padding: 20px;
}
table{
  width: 100%;
}
#filterIme{
  font-size: 14px;
  width: 30%;
}
.mat-form-field{
  font-size: 14px;
  width: 100%;
}
th.mat-header-cell, td{
  text-align: center;
}



.container {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto;
  margin-bottom: 10px;
}

.image{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(103, 58, 183, 0.85);
  border-radius: 50%;
  cursor: pointer;
}
.text {
  color: #ffffff;
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  cursor: pointer;
}
