#prikaz{
  width: 80%;
  margin: auto;
  padding: 20px;
}
table{
  width: 100%;
}
#filterIme{
  font-size: 14px;
  width: 30%;
}
.mat-form-field{
  font-size: 14px;
  width: 100%;
}
th.mat-header-cell, td{
  text-align: center;
}
