mat-card {
  max-width: 60%;
  margin: 2rem auto;
  padding: 1rem;
}
.mat-card {
  border: none;
  box-shadow: none;
}
mat-card-image {
  height: 300px;
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 16px;
}

.user-slika {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 50%;
}

.user-info-detalji {
  flex: 1 1 auto;
}

.ime_uposlenika {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.grad {
  margin: 4px 0 0 0;
  font-size: 14px;
}

.vrijemeObjave {
  margin: 4px 0 0 0;
  font-size: 16px;
  color: #999;
  position: absolute;
  right: 10px;
  top: 80px;
  margin-right: 16px;
}


.naslov {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.smjestaj-slika-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.smjestaj-slika {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.opis{
  font-size: 16px;
  margin: 16px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin:30px;
}

.listaL, .listaD {
  width: 50%;
}
.listaD{
  margin-left: 20%;
}

.naziv-ob {
  display: inline-block;
  width: 120px;
  text-align: left;
  font-size: 15px;
}

.vrijednostL {
  display: inline-block;
  font-size: 15px;
  position: absolute;
  right: 65%;
}
.vrijednostD {
  display: inline-block;
  font-size: 15px;
  position: absolute;
  right: 7%;
}
.green-icon {
  color: green;
}

.red-icon {
  color: red;
}
.komentari {
  margin-left: 16px;
  margin-top: 30px;
  padding: 20px;
}

.komentari p {
  margin: 0;
}

.naslov-komentari {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
}

.komentar-wrapper {
  display: flex;
  margin-top: 5px;
  padding-top: 12px;
  border-top: 1px solid #cccccc;
}

.user-info-com {
  display: flex;
  margin-right: 20px;
  width: 100%;
}

.user-info-detalji-com {
  margin-left: 15px;
  padding-top: 6px;
  width: 100%;
}

.ime-korisnika {
  font-weight: 600;
  margin-right: 10px;
  display: inline;
  padding-right: 12px;
}

.vrijeme-objave {
  font-size: 14px;
  color: #888888;
  margin-right: 10px;
  display: inline;
}

.komentar {
  padding-top: 3px;
}
.odgovori-dugme {
  height: 30px;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 5px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
}
.dodaj-komentar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

mat-form-field {
  flex-grow: 1;
  margin-right: 10px;
  width: 100%;
}
mat-form-field textarea {
  width: 100%;
}
mat-icon-button {
  margin-left: 10px;
  width: 40px;
}
.dodaj-komentar-btn {
  margin-left: 10px;
}
textarea.mat-input-element {
  width: 100%;
}
.odgovor-wrapper{
  margin-top: 10px;
}
