<h1> Fakulteti</h1>

<button mat-raised-button color="primary" (click)="dodajFakultet();  openDialog(dialogFakultet); ucitajMapu()">
  <mat-icon>add</mat-icon> Dodaj Fakultet
</button>
<br>

<table  style="width:100%" mat-table [dataSource]="podaciFakulteti" class="mat-elevation-z8">

  <ng-container matColumnDef="naziv">
    <th mat-header-cell *matHeaderCellDef> Naziv </th>
    <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
  </ng-container>

  <ng-container matColumnDef="adresa">
    <th mat-header-cell *matHeaderCellDef>Adresa </th>
    <td mat-cell *matCellDef="let element"> {{element.adresa}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="telefon">
    <th mat-header-cell *matHeaderCellDef> Broj telefona </th>
    <td mat-cell *matCellDef="let element"> {{element.telefon}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="veza">
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let element"> {{element.veza}} </td>
  </ng-container>

  <ng-container matColumnDef="univerzitet">
    <th mat-header-cell *matHeaderCellDef> Univerzitet </th>
    <td mat-cell *matCellDef="let element"> {{element.univerzitet}} </td>
  </ng-container>

  <ng-container matColumnDef="akcije">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button (click)="this.fakultet=element; openDialog(dialogFakultet);ucitajMapu()" color="primary" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="obrisiFakultet(element)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #dialogFakultet >
  <h1>{{this.dialogtitle}}</h1>

  <mat-dialog-content >


    <mat-form-field appearance="fill" id="naziv">
      <mat-label>Naziv</mat-label>
      <input matInput [(ngModel)]="this.fakultet.naziv">
    </mat-form-field>


    <mat-form-field appearance="fill"  id="adresa">
      <mat-label>Adresa</mat-label>
      <input matInput  [(ngModel)]="this.fakultet.adresa" >

    </mat-form-field>
    <mat-form-field appearance="fill"  id="email" style="margin: 0">
      <mat-label>Email</mat-label>
      <input matInput  [(ngModel)]="this.fakultet.email" >

    </mat-form-field>
    <mat-form-field appearance="fill"  id="telefon">
      <mat-label>Telefon</mat-label>
      <input matInput  [(ngModel)]="this.fakultet.telefon">
    </mat-form-field>

    <mat-form-field appearance="fill"  id="veza">
      <mat-label>Link</mat-label>
      <input matInput  [(ngModel)]="this.fakultet.veza">
    </mat-form-field>



    <mat-form-field  id="univerzitet" appearance="fill" style="margin: 0">
      <mat-label>Univerzitet</mat-label>
      <mat-select  [(ngModel)]="this.fakultet.univerzitetID">
        <mat-option *ngFor="let univerzitet of this.univerzitetPodaci" [value]="univerzitet.id">
          {{univerzitet.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h2>Odaberi lokaciju</h2>
    <div id="map"></div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Odustani</button>
    <button mat-raised-button mat-dialog-close color="primary"  (click)="snimi_dugme()" >Snimi</button>
  </mat-dialog-actions>
</ng-template>
