#prikaz{
  width: 80%;
  margin: auto;
  padding: 20px;
}
.mat-form-field{
  font-size: 14px;
  width: 100%;
}
table{
  width: 100%;
}
th.mat-header-cell, td{
  text-align: center;
}
#filterStipenditor{
  width: 25%;
}
#naslov{
  width: 60%;
}

#rokPrijave{
  width: 35%;
  margin-left: 5%;
}
#iznos{
  width: 45%;
}
#brojStipendisata{
  width: 45%;
  margin-left: 10%;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.slika{
  width:50%;
  max-height: 265px;
  float: left;
}
#naslov, #rokPrijave,#iznos, #brojStipendisata, #objavljivac{
  width: 45%;
  margin-left: 5%;
}
#iznos, #brojStipendisata{
  width: 20%;
  margin-left: 5%;
}
