<mat-drawer-container class="example-container">
  <mat-drawer style="width:300px;margin-top:10px;" mode="side" opened><h1> Fakulteti</h1>

  </mat-drawer>
  <mat-drawer-content>
    <mat-card  *ngFor="let i of podaciFakulteti?.dataItems" >
      <mat-card-header>
        <mat-card-title>{{i.naziv}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>

        <button (click)="pregledDetalja(i)"  mat-button>POGLEDAJ VIŠE</button>
      </mat-card-actions>

    </mat-card>
    <mat-paginator
      [length]="podaciFakulteti?.totalCount"
      [pageSizeOptions]="[5,10, 20]"
      [showFirstLastButtons]="true"
      (page)="handlePageEvent($event)"
      aria-label="Select page">
    </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
