<mat-toolbar color="primary">
  <span>StudentOglasi</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <mat-button-toggle-group  name="fontStyle" aria-label="Font Style">
    <mat-button-toggle routerLink="/putanja-univerziteti">Univerziteti</mat-button-toggle>
    <mat-button-toggle   routerLink="/putanja-fakulteti">Fakulteti</mat-button-toggle>

  </mat-button-toggle-group>
</mat-toolbar>

<div >
  <router-outlet></router-outlet>

</div>
