<mat-toolbar color="primary">
  <span>StudentOglasi</span>
  <button mat-button routerLink="/">Početna</button>

  <button mat-button routerLink="/putanja-prakse-pregled">Prakse</button>
  <button mat-button  routerLink="/putanja-stipendije-pregled">Stipendije</button>
  <button mat-button routerLink="/putanja-smjestaj-pregled">Smještaj</button>
  <button mat-button routerLink="/putanja-univerziteti-pregled">Univerziteti</button>
  <button mat-button routerLink="/putanja-fakulteti-pregled">Fakulteti</button>



  <mat-button-toggle *ngIf="loginInfo().autentifikacijaToken?.korisnik?.isAdmin" mat-button [matMenuTriggerFor]="upravljanje">Upravljanje podacima</mat-button-toggle>

    <mat-menu #upravljanje="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="korisnici">Korisnici</button>
      <button mat-menu-item [matMenuTriggerFor]="oglasi">Oglasi</button>
      <button mat-menu-item [matMenuTriggerFor]="ustanove">Ustanove</button>
      <button mat-menu-item routerLink="/putanja-objave">Objave</button>
      <button mat-menu-item routerLink="/putanja-firme">Firme</button>
      <button mat-menu-item routerLink="/putanja-stipenditori">Stipenditori</button>
    </mat-menu>

    <mat-menu #ustanove="matMenu">
      <button mat-menu-item routerLink="/putanja-univerziteti">Univerziteti</button>
      <button mat-menu-item routerLink="/putanja-fakulteti">Fakulteti</button>
    </mat-menu>

    <mat-menu #korisnici="matMenu">
      <button mat-menu-item routerLink="/putanja-studenti">Studenti</button>
      <button mat-menu-item routerLink="/putanja-izdavaci">Izdavači smještaja</button>
      <button mat-menu-item [matMenuTriggerFor]="referenti">Referenti</button>
      <button mat-menu-item [matMenuTriggerFor]="uposlenici">Uposlenici</button>
    </mat-menu>

    <mat-menu #oglasi="matMenu">
      <button mat-menu-item routerLink="/putanja-prakse">Prakse</button>
      <button mat-menu-item routerLink="/putanja-stipendije">Stipendije</button>
      <button mat-menu-item routerLink="/putanja-smjestaji">Smještaji</button>
    </mat-menu>

    <mat-menu #referenti="matMenu">
      <button mat-menu-item routerLink="/putanja-referentifakulteta">Referenti fakulteta</button>
      <button mat-menu-item routerLink="/putanja-referentiuniverziteta">Referenti univerziteta</button>
    </mat-menu>

    <mat-menu #uposlenici="matMenu">
      <button mat-menu-item routerLink="/putanja-uposleniciFirme">Uposlenici firmi</button>
      <button mat-menu-item routerLink="/putanja-uposleniciStipenditora">Uposlenici stipenditora</button>
    </mat-menu>



  <p *ngIf="loginInfo().isLogiran==true">
    <button style="position: absolute; right: 5%;top: 15px;"  mat-button [matMenuTriggerFor]="menu">
      {{loginInfo().autentifikacijaToken?.korisnik?.username}}
      <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item (click)="profil()">
      <span>Profil</span>
    </button>

    <button *ngIf="loginInfo().autentifikacijaToken?.korisnik?.isIzdavacSmjestaja" mat-menu-item (click)="smjestaji()">
      <span>Moje objave</span>
    </button>

    <button mat-menu-item  (click)="logout()">
      <span>Odjavi se</span>
    </button>

  </mat-menu>
  </p>
  <p *ngIf="loginInfo().isLogiran==false">
    <button mat-raised-button style="position: absolute; right: 5%;top: 15px;" (click)="openDialog()">
      Prijavi se</button>
  </p>
</mat-toolbar>

<div >
  <router-outlet ></router-outlet>

</div>
<div>
<ng-template #dialogLogin>
  <div style="height: 150px; margin-bottom: 10%">
  <img style="max-height: 100%; display: flex; margin: auto" src="assets/Images/Login-image.png">
  </div>
  <mat-dialog-content>
    <p style="color: red">{{this.poruka}}</p>
  <mat-form-field appearance="fill">
    <mat-label>Korisnicko ime</mat-label>
    <input matInput placeholder="Korisnicko ime" [(ngModel)]="username" name="username" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lozinka</mat-label>
    <input matInput type="password" placeholder="Lozinka" [(ngModel)]="password" name="Lozinka" required>
  </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button style="display:block; margin: auto; width: 80%" color="primary" (click)="btnLogin()">Prijavi se</button>
    <span style="margin: auto; margin-top: 5px;">Nemate korisnički nalog?
    <button mat-button color="primary" mat-dialog-close (click)="registracija()">Registrujte se</button>
    </span>
  </mat-dialog-actions>
</ng-template>
</div>

