#prikaz{
  width: 40%;
  padding: 20px;
  margin: auto;
  margin-top: 15px;
  border: solid 2px rgb(240,240,240);
  border-radius: 10px;
  background-color: rgb(245,245,245);
}
.mat-form-field{
  font-size: 14px;
  width: 100%;
}



.container {
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}
.image{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(103, 58, 183, 0.85);
  border-radius: 50%;
}
.text {
  color: #ffffff;
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  cursor: pointer;
}
