<mat-drawer-container class="example-container">
  <mat-drawer style="width:300px;margin-top:10px;" mode="side" opened><h1> Univerziteti</h1>
    <mat-form-field appearance="standard" id="filterFirma">
      <mat-label>Grad</mat-label>
      <mat-select [(ngModel)]="this.filter_grad">
        <mat-option *ngFor="let grad of this.gradoviPodaci" [value]="grad.id">
          {{grad.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="this.restart()" style="margin-left: 5%">Ukloni filtere</button>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card  *ngFor="let i of this.univerzitetiPodaci" >
      <mat-card-header>
        <mat-card-title>{{i.naziv}}</mat-card-title>
        <mat-card-subtitle>{{i.email}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>

        <button (click)="pregledDetalja(i)" mat-button>POGLEDAJ VIŠE</button>
      </mat-card-actions>
    </mat-card>
    <mat-paginator
      [length]="univerzitetiPodaci?.totalCount"
      [pageSizeOptions]="[5,10, 20]"
      [showFirstLastButtons]="true"
      (page)="handlePageEvent($event)"
      aria-label="Select page">
    </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
