#prikaz{
  width: 80%;
  margin: auto;
  padding: 20px;
}
.mat-form-field{
  font-size: 14px;
  width: 100%;
}
table{
  width: 100%;
}
th.mat-header-cell, td{
  text-align: center;
}
textarea{
  width: 100%;
  height: 100px;
}
#filterFirma{
  width: 35%;
}
#filterPlacena{
  margin-left: 5%;
}
#naslov, #objavljivac,#datum, #datumTrajanje{
  width: 45%;
  margin-left: 5%;
}
.slika{
  width:50%;
  max-height: 265px;
  float: left;
}
